{block #content}
    <p n:isAllowed="timeline, edit">
        <a n:href="Timeline:edit, groupId => $group->getId()" class="btn btn-primary"><i class="fa fa-plus"></i> {_"New timeline"}</a>
    </p>
    {control gridTimeline}
{/block}